<section id="main">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="white">Our supporters</h1>
    {{#showCity}}
        <h1 class="white">from {{city}}</h1>
        <ul class="signersul white">
    {{/showCity}}
    <br />
    {{#each signers}}
        <li class="signersli white">
            <p class="white">Name: {{ this.first }} {{ this.last }} | Age: {{ this.age}} | City: <a class="white" href="/signers/{{city}}">{{this.city}}</a></p>
        </li>
    {{/each}}
    </ul>
    <br />
    <br />
    <p class="white">Click on a city to view all signers from that location</p>
    <br />
    {{#showCity}}
            <button class="signButton buttonHover">        <a href="/signers">
<h4>Back to all signers</h4></a></button>
    {{/showCity}}
</section>
